<div class="border-form-div">
 <h2>CHCMS</h2>
  <div class="icons" style="width:350px; margin:0 auto;">
    <i class="fa fa-comment fa-5x fa-lg"></i>
    <i class="fa fa-calendar-alt fa-5x fa-lg"></i>
    <i class="fas fa-user fa-5x fa-lg"></i>
  </div>
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary form-control' %>
<% end %>

<%= render "users/shared/links" %>
</div>`