<br>
  <div class="border-form-div">
    <h2>CHCMS</h2>
  <div class="icons" style="width:350px; margin:0 auto;">
    <i class="fa fa-comment fa-5x fa-lg"></i>
    <i class="fa fa-calendar-alt fa-5x fa-lg"></i>
    <i class="fas fa-user fa-5x fa-lg"></i>
  </div>
  <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

 <%= f.submit "Log in", class: 'btn btn-primary form-control' %>
<% end %>

<%= render "users/shared/links" %>
</div>