<p id="notice"><%= notice %></p>

<h1>Shifts</h1>
<% if current_user.try(:admin?) %>
  <%= button_to "Create new shift", new_shift_path, class: 'btn btn-primary' ,:method => :get  %>
<% end %>
<div id='calendar'></div>

<br>

<% if current_user.try(:admin?) %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.title %></td>
          <td><%= shift.description %></td>
          <td><%= shift.start_time %></td>
          <td><%= shift.end_time %></td>
          <td><%= link_to 'Show', shift, class: "btn btn-info" %></td>
          <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_shift_path(shift), class: "btn btn-success" %></td>
          <td><%= link_to 'Destroy', shift, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<br>
<br>
