<p id="notice"><%= notice %></p>

<h1>Medicals</h1>

<%= link_to 'New Medical', new_medical_path %>

<br>
<br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicals.each do |medical| %>
      <tr>
        <td><%= medical.name %></td>
        <td><%= medical.description %></td>
        <td><%= link_to 'Show', medical %></td>
        <td><%= link_to 'Edit', edit_medical_path(medical) %></td>
        <td><%= link_to 'Destroy', medical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>