<p id="notice"><%= notice %></p>

<h1>Residents</h1>
<%= button_to "Add new resident", new_resident_path, class: 'btn btn-primary' ,:method => :get  %>
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Next of Kin</th>
        <th>Date of Birth</th>
        <th>Medical Conditions</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.fullname %></td>
        <td><%= resident.next_of_kin %></td>
        <td><%= resident.dob %></td>
        <td><%= resident.medical_conditions %></td>
        <td><%= button_to "Show", resident, class: 'btn btn-info' ,:method => :get  %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_resident_path(resident), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', resident, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
