<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to 'CHCMS', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="active"><a href="#">Dashboard</a></li>
        <li><%= link_to mailbox_inbox_path do  %>
          <span class="label label-danger pull-right"><%=unread_messages_count%></span>
          <em class="fa fa-inbox fa-lg"></em>
          <span>Inbox</span>
        <% end %></li>
        <li><%= link_to('My Account', edit_user_registration_path) %></li>
        <li><%= link_to('Rota', shifts_path) %></li>
        <% if current_user.try(:admin?) %>
        <li><%= link_to('Admin', rails_admin.dashboard_path) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Hello, #{current_user.first_name}", "#" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Sign up', new_user_registration_path) %></li>
        <li><%= link_to('Sign in', new_user_session_path) %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
