<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to 'CHCMS', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="active"><a href="#">Dashboard</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><%= link_to('My Account', edit_user_registration_path) %></li>
        <li><a href="#">My Calender</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Sign up', new_user_registration_path) %></li>
        <li><%= link_to('Sign in', new_user_session_path) %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>